@import "variable";
@import "mixins";
@import "animations";

.home-container {
    .menu {
        width: 100vw;
        height: 80px;
        justify-content: space-between;
        display: flex;

        .icon-container {
            margin-top: 35px;
            margin-left: 50px;
        }
        .button-container {
            margin-top: 50px;
            margin-right: 50px;
        }
    }
    .icon-label {
        background-color: #fff !important;
        color: $mainColor !important;
    }
    .description {
        @include margin(top, 80px);
        @include flexCenter;
        text-align: center;
        flex-direction: column;
        height: 100%;

        .p-text {
            font-size: 1.4rem;
            line-height: 4rem;
        }
        .msk-avatar {
            @include flexCenter;
        }
        .bottom-content {
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: self-end;
            @include margin(bottom, 30px);
        }
    }
    .base-color {
        @include baseColor;
    }
    .typewriter {
        @include typewriter;
    }
    .full-height-width-flex {
        @include fullHeightWidth;   
        display: flex; 
        flex-direction: column;
    }
    
}
