@import "variable";
@import "mixins";
@import "animations";

.home-container {
    .description {
        @include margin(top, 80px);
        @include flexCenter;
        text-align: center;
        flex-direction: column;
        height: 100%;

        .p-text {
            font-size: 1.4rem;
            line-height: 4rem;
        }
        .msk-avatar {
            @include flexCenter;
        }
        .bottom-content {
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: self-end;
            @include margin(bottom, 30px);
        }
    }
    .typewriter {
        @include typewriter;
    }
    .second-page{
        height: 100%;
        width: 100%;
        @include flex;
        flex-direction:column;

        .skill-description {
            @include baseBg;
            @include flexCenter;
            flex-direction:column;
            height: 45%;
            width: 100%;
        }
        .heading {
            @include margin(top, 20px);
            @include flexCenter;
            text-align: center;
            flex:1;
            flex-direction: column;
        }
        .skill-group {
            flex:4;
            width: 80%;
            text-align: center;
            .skill-group-set {
                padding:10px;
                @include flexCenter;
                flex-direction: column;
            }
            .skill-icon-container {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #fff;
                @include flexCenter;

            }
        }
        .skill-container {
            @include margin(top, 30px);
            @include flex;
        }
        .skill-progress {
            @include flex;
            @include margin(top, 30px);
            justify-content:center;
            .avatar-content {
                flex:3;
                padding: 8px;
            }
            .skill-progress-avatar {
                @include flexCenter;
            }
            .progress-avatar {
                width: 200px;
                height: 200px;
                @include flexCenter;
            }
            .skill-progress-description {
                @include margin(top, 10px);
                text-align: center;
            }
        }
        .skill-progress-content {
            @include flex;
            width: 90%;
        }
        .skill-progress-loaders  {
            flex:7;
            display: flex;
            .skill-progress-left {
                flex:1;

            }
            .skill-progress-right {
                flex:1;
                @include margin(left, 30px);
            }
        }
       
    }
    .third-page {
        @include baseBg;
        width: 100%;
        height: 100%;
        .description-card {

        }
        .card-container {
            height: 100%;
        }
        .message-card-continer {
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        .cards-group{
            display: flex;
            flex:1;
        }
    }
}
